main .carousel .carousel-item h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}
main .carousel .carousel-item p {
  text-align: center;
  font-size: 20px;
  opacity: 0.7;
}
main .carousel .carousel-item img {
  background-position: top;
}
main .carousel .carousel-item {
  height: 390px;
}
main .carousel .carousel-item .carousel-caption {
  top: 160px;
}
:root {
  --pramry-color: white;
  --text-seconde-color:#3f3a64;
  --bg-carousel-color:rgba(29, 42, 55, 0.7);
  --bg-color:#fff;
  --control-color:#fff;
  --font-color:#666;
  --bg-gray:#f7f7f7;
  --item-color-sv:#f8f9fa;
  --input-color:#f7f7f7;
  --bg-light:#f8f9fa;
  --iframe-filter: grayscale(0%);
  --border-color-light: #eee;

}

.dark_them{
  --pramry-color: #151421;
  --text-seconde-color:white;
  --bg-carousel-color:rgba(29, 42, 55, 0.8);
  --bg-color:#151421;
  --control-color:#fff;
  --font-color:#c2c2c2;
  --bg-gray:#100f19;
  --item-color-sv:#100f19;
  --input-color:#100f19;
  --bg-light:#100f19;
  --iframe-filter: grayscale(100%);
  --border-color-light: rgba(255, 255, 255, 0.1);
}

.agency_container {
  max-width: 80%;
  margin: 0 auto;
  padding: 100px 0 50px 0;
  text-align: center;
}
.agency_container h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: var(--text-seconde-color);
  margin-bottom: 15px;
}
.agency_container p {
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
  opacity: 0.8;
  margin-bottom: 50px;
}
.agency_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.agency_item {
  padding: 30px;
  border-radius: 8px;
  background-color: var(--bg-color);
  display: flex;
  margin-bottom: 60px;
  text-align: left;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}
.agency_item i {
  font-size: 35px;
  color: var(--text-seconde-color);
  margin-right: 25px;
}
.agency {
  background-color: var(--bg-light);
  border-bottom: 1px solid rgb(153, 153, 153, 0.2);
}
.agency iframe {
  margin-bottom: 50px;
  background-color: var(--iframe-filter);
}
.agency_itemt_content h3 {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-seconde-color);
}

.agency_itemt_content a {
  color: var(--font-color);
  opacity: 0.8;
}
.project_content {
  width: 80%;
  margin: 0 auto;
}
.project_content button {
  background-color: #00a63f;
  border: transparent;
  border-radius: 8px;
  color: #fff;
  margin-top: 35px;
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  text-align: right;
  transition: all 0.5s;
}
.project_content button:hover {
  background-color: #1e8245;
}
.agency input {
  padding: 20px 25px;
  border-radius: 8px;
  border: 1px solid var(--border-color-light);
  background-color: var(--bg-color);
  color: var(--font-color);
}
  

.agency textarea {
  border-radius: 8px;
  border: 1px solid var(--border-color-light);
  display: block;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--font-color);
}
.project_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 35px;
}
