main .carousel .carousel-item h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}
main .carousel .carousel-item p {
  text-align: center;
  font-size: 20px;
  opacity: 0.7;
}
main .carousel .carousel-item img {
  background-position: top;
}
main .carousel .carousel-item {
  height: 390px;
}
main .carousel .carousel-item .carousel-caption {
  top: 160px;
}
.agency_container {
  max-width: 80%;
  margin: 0 auto;
  padding: 100px 0 50px 0;
  text-align: center;
}
.agency_container h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #3f3a64;
  margin-bottom: 15px;
}
.agency_container p {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
  margin-bottom: 50px;
}
.agency_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.agency_item {
  padding: 30px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  margin-bottom: 60px;
  text-align: left;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}
.agency_item i {
  font-size: 35px;
  color: #3f3a64;
  margin-right: 25px;
}
.agency {
  background-color: #f8f9fa;
}
.agency iframe {
  margin-bottom: 50px;
}
.agency_itemt_content h3 {
  font-size: 22px;
  font-weight: 600;
  color: #3f3a64;
}
.agency_itemt_content a {
  color: #666;
  opacity: 0.8;
}
.project_content {
  width: 80%;
  margin: 0 auto;
}
.project_content button {
  background-color: #00a63f;
  border: transparent;
  border-radius: 8px;
  color: #fff;
  margin-top: 35px;
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  text-align: right;
  transition: all 0.5s;
}
.project_content button:hover {
  background-color: #1e8245;
}
.agency input {
  padding: 20px 25px;
  border-radius: 8px;
  border: solid 1px #eee;
}
.agency textarea {
  border-radius: 8px;
  border: solid 1px #eee;
  display: block;
  width: 100%;
}
.project_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 35px;
}
