* {
  box-sizing: border-box;
  margin: 0;
}
body{
  background-color: var(--bg-color);
}
:root {
  --pramry-color: white;
  --text-seconde-color: #3f3a64;
  --bg-carousel-color: rgba(29, 42, 55, 0.7);
  --bg-color: #fff;
  --control-color: #fff;
  --font-color: #666;
  --bg-gray: #f7f7f7;
  --border-color-light: #eee;
}
.dark_them {
  --pramry-color: #151421;
  --text-seconde-color: white;
  --bg-carousel-color: rgba(29, 42, 55, 0.8);
  --bg-color: #151421;
  --control-color: #fff;
  --font-color: #c2c2c2;
  --bg-gray: #100f19;
  --border-color-light: rgba(255, 255, 255, 0.15);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}
.navbar_content p {
  font-size: 14px;
}
a {
  text-decoration: none;
}
pre {
  font-size: inherit;
}
header .container-fluid {
  width: 75%;
  margin: 0 auto;
}
.style-p {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
}
.mt-27 {
  margin-bottom: 30px;
}
.mr-20px {
  margin-right: 25px;
}
.mt-50px {
  margin-top: 50px;
}
.mb-50px{
  margin-bottom: 50px;
}
.code {
  background-color: #f7f7f7;
  margin-top: 15px;
  border-radius: 6px;
  padding: 20px 40px;
}
.title {
  text-transform: capitalize;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 24px;
  color: #3f3a64;
}

header .container-fluid {
  width: 75%;
  margin: 0 auto;
}
header .text-center {
  color: white;
}
header .text-center p {
  opacity: 0.75;
}
.navbar-nav {
  margin-left: 120px;
}
.nav-item .nav-link {
  color: #fff;
  opacity: 0.8;
  transition: all 0.5s;
}
.nav-item .nav-link:hover {
  opacity: 1;
}
.nav-item .nav-link.active {
  color: white;
  opacity: 1;
}
header {
  /* position: ; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  border-bottom: solid 1px rgba(231, 231, 231, 0.18);
  z-index: 2;
}
header button.btn_header {
  width: 45px;
  height: 45px;
  background-color: #009f4d;
  color: white;
  margin-left: 300px;
}
header button.dark_more {
  background-color: transparent;
  font-size: 25px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: none;
  color: white;
}
.carousel {
  background-image: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/b1.jpg);
  background-size: cover;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.carousel .carousel_content h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}
.carousel .carousel_content p {
  color: #fff;
  font-size: 20px;
}
.carousel .hero_play {
  background: rgba(29, 42, 55, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* Jumbotron */
.jumbotron {
  padding-top: 3rem !important;

}
.jumbotron h2 {
  text-transform: capitalize;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 24px;
  color: #3f3a64;
}
.jumbotron .jumbotron_top {
  background-color: #f7f7f7;
  padding: 4rem 2rem;
  border-radius: 6px;
}
.jumbotron .jumbotron_top h3 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #3f3a64;
}
.jumbotron .jumbotron_top .p1 {
  line-height: 27px;
  color: #666;
  opacity: 1.8;
}
.jumbotron .jumbotron_top .p2 {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
}
.jumbotron .jumbotron_top .btn:hover a {
  background-color: #009f4d;
}

.jumbotron .jumbotron_top .btn a {
  color: #fff;
  display: inline-block;
  padding: 15px 50px;
  background-color: #31b663;
  border-radius: 6px;
}
.jumbotron .jumbotron_bottom {
  background-color: #f7f7f7;
  margin-top: 50px;
  padding: 4rem 0;
  border-radius: 6px;
}
/* Fluid Jumbotron */
.fluid_top {
  background-color: #f7f7f7;
  padding: 4rem 2rem;
  border-radius: 6px;
}
.fluid_top h3 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.fluid_bottom {
  background-color: #f7f7f7;
  margin-top: 50px;
  border-radius: 6px;
  padding: 45px;
}
/* Card Decks */
.card_deck {
  margin-top: 50px;
}
.card_deck .card {
  background-color: #f7f7f7;
  padding-bottom: 40px;
}
.card_deck .content {
  display: flex;
}

.card_deck .card .card_body h3 {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  color: #3f3a64;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 20px;
}
.card_deck .card .card_body {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
  padding: 0 15px;
}
.card_deck .card .card_footer {
  font-weight: 400;
  color: #6c757d;
  padding: 0 15px;
}
.button_tag .components-info a {
  background-color: #31b663;
  border: #31b663;
}
.button_tag .components-info a:hover {
  background-color: #009f4d;
  border: #009f4d;
}
.modal_popup button {
  background-color: #31b663;
  border: #31b663;
}
.modal_popup button:hover {
  background-color: #009f4d !important;
  border: #009f4d !important;
}
.vertically_modal button {
  background-color: #31b663;
  border: #31b663;
}
.vertically_modal button:hover {
  background-color: #009f4d !important;
  border: #009f4d !important;
}
.progress_bar .progress_bar_item .progress {
  margin-bottom: 15px;
}
.progress_bar .progress_bar_item .progress .progress-bar {
  background-color: #009f4d;
}
.background .background_item .progress {
  margin-bottom: 15px;
}
.striped .striped_item .progress {
  margin-bottom: 15px;
}
.form .form-group {
  margin-bottom: 15px;
}
.form .btn {
  background-color: #31b663;
  border: #31b663;
}
.form .btn:hover {
  background-color: #009f4d;
  border: #009f4d;
}
/* footer */
footer {
  background-color: #151421;
  bottom: 0;
}
/* breadcrumbs */
.breadcrumbs {
  margin-top: 50px;
}
.breadcrumbs .breadcrumbs_item {
  background-color: #f7f7f7;
  margin-bottom: 15px;
  padding: 0.75rem 1rem;
  border-radius: 6px;
}
.breadcrumbs .breadcrumbs_item a {
  color: #009f4d;
}
.button {
  margin-top: 50px;
}
.media {
  display: flex;
  align-items: center;
}
.media img {
  border-radius: 6px;
  margin-right: 15px;
}
.img_fix{
  display: inline-block;
  width: 250px;
  height: 200px;
  vertical-align: auto;
}
footer {
  background-color: #151421;
  bottom: 0;
}
.footer_content {
  max-width: 80%;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.footer_crop,
.footer_contact {
  width: 30%;
}
.footer_categories,
.footer_meta {
  width: 20%;
}

.footer_crop ul li {
  list-style: none;
  display: inline;
}
.footer_crop ul li a i {
  color: #97a1a9;
  margin-right: 20px;
  transition: all 0.5s;
}
.footer_crop ul li a i:hover {
  color: #fff;
}
.footer_crop ul {
  padding-top: 15px;
  padding-left: 0;
}
.footer_tilte {
  color: white;
  text-align: center;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer_tilte p {
  color: #97a1a9;
  display: inline-block;
  padding: 25px 0;
  margin: 0%;
  font-size: 17px;
}
.footer_title_shape {
  background-color: #97a1a9;
  width: 1.2px;
  height: 20px;
  display: inline-block;
  margin: 0 5px;
  transform: translateY(4px);
}
.footer_tilte p span {
  color: #009f4d;
  transition: all 0.5s;
}
.footer_tilte p span:hover {
  color: white;
}
.footer_crop p:last-of-type {
  color: #97a1a9;
  font-size: 18px;
}
.footer_contact ul li {
  list-style: none;
  padding-top: 10px;
}
.footer_contact ul li a,
.footer_contact ul li p {
  text-decoration: none;
  margin: 0;
  color: #97a1a9;
  font-size: 18px;
  transition: all 0.5s;
}
.footer_contact ul li a:hover {
  color: white;
}
.footer_contact ul {
  margin: 0;
  padding: 0%;
}
.footer_contact {
  padding-left: 50px;
  padding-right: 10px;
}
.footer_categories {
  padding-left: 50px;
}
.footer_categories ul,
.footer_meta ul {
  margin: 0;
  padding: 0;
}
.footer_categories ul li {
  list-style: none;
  padding-top: 10px;
}
.footer_categories ul li a {
  text-decoration: none;
  color: #97a1a9;
  font-size: 18px;
  transition: all 0.5s;
}
.footer_categories ul li a:hover {
  color: white;
}
.footer_meta {
  padding-left: 50px;
}
.footer_meta ul li {
  list-style: none;
  padding-top: 10px;
}
.footer_meta ul li a {
  text-decoration: none;
  color: #97a1a9;
  font-size: 18px;
  transition: all 0.5s;
}
.footer_crop .navbar-brand {
  font-size: 30px;
}
.footer_crop .navbar-brand p {
  font-size: 14px;
}
.footer_crop h3,
.footer_contact h3,
.footer_categories h3,
.footer_meta h3 {
  font-size: 22px;
  padding-bottom: 15px;
}
.footer_meta ul li a:hover {
  color: #fff;
}
#top {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #009f4d;
}
#top span {
  font-size: 25px;
  color: white;
}
header.style_header {
  padding: 0px;
  background-color: var(--pramry-color);
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  align-items: center;
  z-index: 99;
}
header.style_header .text-center {
  color: var(--text-seconde-color);
}
header.style_header nav {
  padding: 0;
}
header.style_header .nav-item .nav-link {
  color: var(--text-seconde-color);
}
header.style_header .nav-item .nav-link.active {
  color: #009f4d;
  opacity: 0.9;
}

header.style_header button.dark_more {
  color: var(--text-seconde-color);
}
footer .sidebar button.btn {
  position: fixed;
  right: 20px;
  top: 23%;
  z-index: 99;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: #e6ebff;
  background-color: #0d1326;
  opacity: 0.5;
}
footer .sidebar button.btn:hover {
  color: #e6ebff;
  background-color: #0d1326;
  opacity: 0.5;
}
header.style_header .navbar-collapse {
  background-color: var(--bg-color);
}
footer .sidebar .offcanvas-end {
  top: 21%;
  right: 0;
  bottom: 35%;
  border-radius: 9px 0 0 9px;
  position: fixed;
  z-index: 98;
  width: 100px;
  background-color: #0d1326;
}
footer .sidebar .offcanvas-header ul {
  list-style: none;
  padding: 0;

  margin-top: 60px;
  text-align: center;
  border-top: #e6ebff solid 1px;
  opacity: 0.6;
}
footer .sidebar .offcanvas-header ul li a i {
  display: block;
}
footer .sidebar .offcanvas-header ul li a {
  color: #e6ebff;
  opacity: 0.6;
  transition: all 0.2s;
}
footer .sidebar .offcanvas-header ul li a:hover {
  opacity: 1;
  color: white;
}
footer .sidebar .offcanvas-header ul li {
  padding-top: 30px;
}

.carousel-item img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;
}