* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}
.title_small p:first-child {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
  margin-bottom: 0;
}
.title_small h3 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #3f3a64;
  margin-bottom: 1.5rem;
}
.title_small p:last-child {
  font-size: 17px;
  line-height: 27px;
  color: #7e7d7d;
  opacity: 0.8;
  margin-top: 1.5rem;
}
.navbar_content p {
  font-size: 14px;
}
a {
  text-decoration: none;
}
header .container-fluid {
  width: 75%;
  margin: 0 auto;
}
header .text-center{
  color: white;
}
header .text-center p{
  opacity: .75;
}
.navbar-nav {
  margin-left: 120px;
}
.nav-item .nav-link {
  color: #fff;
  opacity: 0.8;
  transition: all 0.5s;
}
.nav-item .nav-link:hover {
  opacity: 1;
}
.nav-item .nav-link.active {
  color: white;
  opacity: 1;
}
.carousel .carousel-item::after {
  content: "";
  background-color: rgba(29, 42, 55, 0.7);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
header {
  position: fixed;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  border-bottom: solid 1px rgba(231, 231, 231, 0.18);
  transition: all 0.4s ease 0s;
}
header button.btn_header{
  width: 45px;
  height: 45px; 
  background-color: #009f4d;
  color: white;
}
.carousel-item .carousel-caption {
  z-index: 2;
  bottom: 40%;
  text-align: left;
} 
.carousel-item .carousel-caption h2 {
  font-size: 65px;
}
.carousel-item .carousel-caption p {
  font-size: 20px;
}
.carousel-item .carousel-caption button {
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 40px;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
}
.carousel-item .carousel-caption button:hover {
  background-color: #156d40;
}
.carousel-control-prev {
  padding: 18px;
  left: unset;
  right: 80px;
  top: unset;
  width: unset;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  bottom: 14%;
  z-index: 30;
}

.carousel button.carousel-control-next {
  box-shadow: unset;
  padding: 18px;
  top: unset;
  bottom: 14%;
  border-radius: 50%;
  background-color: #fff;

  width: unset;
  right: 20px;
  z-index: 30;
  box-shadow: 0 0 15px;
}
.carousel-control-next i,
.carousel-control-prev i {
  display: block;
  font-size: 20px;
  color: #3f3a64;
  width: 10px;
  height: 10px;
  line-height: 10px;
}

.about_content {
  display: flex;
}
.about .content_left {
  width: 50%;
  padding-top: 40px;
}
.about .content_left ul {
  list-style: none;
  padding-left: 0;
  margin-top: 2rem;
}
.about .content_left ul li {
  margin-bottom: 15px;
}
.about .content_left ul li a {
  text-decoration: none;
  color: #3f3a64;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}
.about .content_left ul li i {
  color: #009f4d;
  margin-bottom: 15px;
}

.about .content_right {
  width: 50%;
  display: flex;
}
.about .content_right .img_big {
  margin-right: 40px;
}
.about .content_right .img_small {
  margin-top: 40px;
}

.about .content_right img {
  border-radius: 20px;
}

/* Feature */
.feature {
  background-color: #f7f7f7;
  padding: 100px 0;
  margin-top: 100px;
}
.feature .feature_content {
  display: flex;
}
.feature .content_left {
  width: 50%;
  padding-right: 35px;
}
.feature .content_left a {
  background-color: #009f4d;
  text-decoration: none;
  color: #fff;
  padding: 15px 50px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  display: inline-block;
  margin-top: 25px;
}
.feature .content_right {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.feature .content_right .content_item {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  text-align: center;
}
.feature .content_right .content_item a {
  text-decoration: none;
  color: #3f3a64;
  font-weight: 600;
  margin-top: 25px;
  font-size: 22px;
  line-height: 28px;
}
.feature .content_right .content_item a h4 {
  margin-top: 25px;
}

/* SERVICE */
.service {
  padding: 100px 0;
}
.service .title_small {
  text-align: center;
  margin-bottom: 50px;
}
.service .service_content {
  display: flex;
}
.service .service_content .service_item {
  margin: 0 15px;
}
.service .service_content .service_item img {
  border-radius: 10px 10px 0 0;
}
.service .service_content .service_item .item_info {
  text-align: center;
}
.service .service_content .service_item .item_info a {
  display: inline-block;
  color: #3f3a64;
  background-color: #fff;
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
  padding: 12px 35px;
  transform: translate(0, -25px);
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  border-radius: 10px;
}
.service .service_content .service_item .item_info p {
  padding: 0 10px;
  font-size: 17px;
  line-height: 27px;
  opacity: 0.8;
}
.service .service_content .service_item .learn_more {
  text-align: center;
}
.service .service_content .service_item .learn_more a {
  color: #3f3a64;
  font-size: 16px;
  font-weight: 600;
}

/* OUR GALLERY */
.gallery {
  background-color: #f7f7f7;
  padding-top: 100px;
}
.gallery .title_small {
  text-align: center;
}
.gallery .gallery_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.gallery .company-logos {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  padding: 50px 0;
  border-top: #151421 1px;
}
.gallery .company-logos .company {
  max-width: 15%;
  height: auto;
  padding: 0 20px;
}
.gallery .company-logos .company img {
  width: 100%;
}

/* SUCCESS */
.success {
  margin: 100px 0;
}
.success .success_content {
  display: flex;
}
.success .success_content .content_left img {
  border-radius: 10px;
}
.success .success_content .content_right {
  padding-left: 30px;
}
.progress-tittle {
  font-weight: 400;
}
.progress-info {
  position: relative;
}
.progress {
  background-color: #fff;
  align-items: center;
}
.progress-info {
  margin-bottom: 30px;
}
.progress-info .progress-bar {
  height: 4px;
  border-radius: 10px;
}
.progress-bar.gradient-1 {
  color: #61fded;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
  background-size: cover;
}

.progress-bar.gradient-1::before {
  content: "";
  position: absolute;
  right: 19%;
  top: 80%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 28px;
  width: 28px;
  border: 1px solid;
  opacity: 0.3;
}
.progress-bar.gradient-1::after {
  height: 13px;
  width: 13px;
  border: 3px solid;
  content: "";
  position: absolute;
  right: 19%;
  top: 80%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
.progress-bar.gradient-2 {
  color: #eece90;
  background-color: #d45529;
  background-image: linear-gradient(-224deg, #d45529, #eece90);
  background-size: cover;
}
.progress-bar.gradient-2::before {
  content: "";
  position: absolute;
  right: 4%;
  top: 80%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 28px;
  width: 28px;
  border: 1px solid;
  opacity: 0.3;
}
.progress-bar.gradient-2::after {
  height: 13px;
  width: 13px;
  border: 3px solid;
  content: "";
  position: absolute;
  right: 4%;
  top: 80%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
.progress-bar.gradient-3 {
  color: #5c51ff;
  background-color: #f646a9;
  background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
  background-size: cover;
}
.progress-bar.gradient-3::before {
  content: "";
  position: absolute;
  right: 39%;
  top: 80%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 28px;
  width: 28px;
  border: 1px solid;
  opacity: 0.3;
}
.progress-bar.gradient-3::after {
  height: 13px;
  width: 13px;
  border: 3px solid;
  content: "";
  position: absolute;
  right: 39%;
  top: 80%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
.progress-bar.gradient-4 {
  color: #e5529a;
  background-color: #e77654;
  background-image: linear-gradient(-224deg, #e77654, #e5529a);
  background-size: cover;
}
.progress-bar.gradient-4::before {
  content: "";
  position: absolute;
  right: 14%;
  top: 80%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 28px;
  width: 28px;
  border: 1px solid;
  opacity: 0.3;
}
.progress-bar.gradient-4::after {
  height: 13px;
  width: 13px;
  border: 3px solid;
  content: "";
  position: absolute;
  right: 14%;
  top: 80%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

/* Testimonials */
.testimonial .title_small {
  text-align: center;
}

/* New */
.new .title_small {
  text-align: center;
}
.new .row {
  display: flex;
  flex-wrap: nowrap;
  margin-right: -15px;
  margin-left: -15px;
}
/* .new .item .card {
  display: flex;
} */
.new {
  background-color: #fcfcfc;
  margin: 100px 0;
  padding: 50px 0;
}
.new .item .card {
  border: none;
  border-radius: 6px;
}
.new .item .card .card_header img {
  width: 100%;
  height: auto;
  border-radius: 6px 6px 0 0;
}
.new .item .card .card_body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.new .item .card .card_body .review a {
  font-size: 17px;
  font-weight: 400;
  color: #999;
  margin: 0;
}
.new .item .card .card_body a {
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 10px;
}
.new .item .card .card_footer {
  padding: 0.75rem 1.25rem;
  background: var(--bg-color);
  border-top: 1px solid rgb(153, 153, 153, 0.2);
}

.new .item .card .card_footer .author {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
}
.new .item .card .card_footer .author .meta span {
  color: #999;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.6;
}
.new .item .card .card_footer .author .meta a {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}
.new .item .card .card_footer .author .date {
  color: #999;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.6;
}
.letter {
  background-image: url(../images/map.png);
  background-color: #151421;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  border-bottom:1px solid rgb(153, 153, 153, 0.2); ;
}
.letter .bottom-info{
  max-width: 700px;
    margin: 0 auto;
}
.letter .header-section{
  color: #fff;
}
.letter .bottom-info form{
  margin-top: 25px;
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    max-width: 550px;
    margin: auto;
    height: 60px;
}
.letter .bottom-info form .input-group-text{
  border-radius: 0.375rem 0 0 0.375rem;
}
.letter .bottom-info form button{
  border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 25px;
    font-size: 16px;
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
}
.shape {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  z-index: 20;
}
.shape svg {
  width: 100%;
}
.shape path {
  fill: #fff;
}
.carousel_backgroud {
  position: relative;
  background-color: white;
  width: 100%;
  height: 80px;
  bottom: 0%;
  left: 0;  
}
footer {
  background-color: #151421;
  bottom: 0;
}
.footer_content {
  max-width: 80%;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.footer_crop,
.footer_contact {
  width: 30%;
}
.footer_categories,
.footer_meta {
  width: 20%;
}

.footer_crop ul li {
  list-style: none;
  display: inline;
}
.footer_crop ul li a i {
  color: #97a1a9;
  margin-right: 20px;
  transition: all 0.5s;
}
.footer_crop ul li a i:hover {
  color: #fff;
}
.footer_crop ul {
  padding-top: 15px;
  padding-left: 0;
}
.footer_tilte {
  color: white;
  text-align: center;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer_tilte p {
  color: #97a1a9;
  display: inline-block;
  padding: 25px 0;
  margin: 0%;
  font-size: 17px;
}
.footer_title_shape {
  background-color: #97a1a9;
  width: 1.2px;
  height: 20px;
  display: inline-block;
  margin: 0 5px;
  transform: translateY(4px);
}
.footer_tilte p span {
  color: #009f4d;
  transition: all 0.5s;
}
.footer_tilte p span:hover {
  color: white;
}
.footer_crop p:last-of-type {
  color: #97a1a9;
  font-size: 18px;
}
.footer_contact ul li {
  list-style: none;
  padding-top: 10px;
}
.footer_contact ul li a,
.footer_contact ul li p {
  text-decoration: none;
  margin: 0;
  color: #97a1a9;
  font-size: 18px;
  transition: all 0.5s;
}
.footer_contact ul li a:hover {
  color: white;
}
.footer_contact ul {
  margin: 0;
  padding: 0%;
}
.footer_contact {
  padding-left: 50px;
  padding-right: 10px;
}
.footer_categories {
  padding-left: 50px;
}
.footer_categories ul,
.footer_meta ul {
  margin: 0;
  padding: 0;
}
.footer_categories ul li {
  list-style: none;
  padding-top: 10px;
}
.footer_categories ul li a {
  text-decoration: none;
  color: #97a1a9;
  font-size: 18px;
  transition: all 0.5s;
}
.footer_categories ul li a:hover {
  color: white;
}
.footer_meta {
  padding-left: 50px;
}
.footer_meta ul li {
  list-style: none;
  padding-top: 10px;
}
.footer_meta ul li a {
  text-decoration: none;
  color: #97a1a9;
  font-size: 18px;
  transition: all 0.5s;
}
.footer_crop .navbar-brand {
  font-size: 30px;
}
.footer_crop .navbar-brand p {
  font-size: 14px;
}
.footer_crop h3,
.footer_contact h3,
.footer_categories h3,
.footer_meta h3 {
  font-size: 22px;
  padding-bottom: 15px;
}
.footer_meta ul li a:hover {
  color: #fff;
}
#top{
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #009f4d;
}
#top span {
  font-size: 25px;
 color: white;
}
header.style_header{
  padding: 0px;
  background-color:white;
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  align-items: center;
  z-index: 99;
}
header.style_header .text-center  {
  color: #3f3a64;
}
header.style_header nav {
  padding: 0;
}
header.style_header .nav-item .nav-link {
  color: #3f3a64;
}
header.style_header .nav-item .nav-link.active{
  color: #009f4d;
  opacity: .9;
}
footer .sidebar button.btn{
 position: fixed;
  right: 20px;
  top: 23%;
  z-index: 99;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: #e6ebff;
  background-color:#0D1326 ;
  opacity: .5;
}
footer .sidebar button.btn:hover{
  color: #e6ebff;
  background-color:#0D1326 ;
  opacity: .5;
  
}
footer .sidebar .offcanvas-end{
  top: 21%;
  right: 0;
  bottom: 35%;
border-radius: 9px 0 0 9px;
  position: fixed;
  z-index: 98;
  width: 100px;
  background-color: #0D1326;
}
footer .sidebar .offcanvas-header ul {
  list-style: none;
  padding: 0;
  
  margin-top:  60px;
  text-align: center;
  border-top: #e6ebff solid 1px;
  opacity: .6;
}
footer .sidebar .offcanvas-header ul li a i{
  display: block;
}
footer .sidebar .offcanvas-header ul li a {
  color:#e6ebff  ;
  opacity: .6;
  transition: all .2s;
}
footer .sidebar .offcanvas-header ul li a:hover{
  opacity: 1;
  color: white;
}
footer .sidebar .offcanvas-header ul li {

  padding-top: 30px;
}