main .carousel .carousel-item h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}
main .carousel .carousel-item p {
  text-align: center;
  font-size: 20px;
  opacity: 0.7;
}
main .carousel .carousel-item img {
  background-position: top;
}
main .carousel .carousel-item {
  height: 390px;
}
main .carousel .carousel-item .carousel-caption {
  top: 160px;
}
:root {
  --pramry-color: white;
  --text-seconde-color:#3f3a64;
  --bg-carousel-color:rgba(29, 42, 55, 0.7);
  --bg-color:#fff;
  --control-color:#fff;
  --font-color:#666;
  --bg-gray:#f7f7f7;
  --item-color-sv:#f8f9fa;
  --input-color:#f7f7f7;

}

.dark_them{
  --pramry-color: #151421;
  --text-seconde-color:white;
  --bg-carousel-color:rgba(29, 42, 55, 0.8);
  --bg-color:#151421;
  --control-color:#fff;
  --font-color:#c2c2c2;
  --bg-gray:#100f19;
  --item-color-sv:#100f19;
  --input-color:#100f19;

}
.design {
  background-color: var(--bg-gray);
}
.design_container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}
.design_content p {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
}
.design_content h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: var(  --text-seconde-color);
}
.design_row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
}
.desgin_item {
  background-color: var(--bg-color);
}
.desgin_item.active img {
  width: 100%;
}
.desgin_item.icon img {
  width: 8%;
  margin-top: 40px;
}
.design_row h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: var(  --text-seconde-color);
  padding-bottom: 20px;
  padding-top: 10px;
}
.design_row p {
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
  opacity: 0.8;
  margin: 0 50px;
}
.design_row button {
  color: #fff;
  background-color: #00a63f;
  padding: 15px 50px;
  border-radius: 8px;
  border: transparent;
  margin-top: 35px;
  font-weight: 600;
  transition: all 0.5s;
}
.design_row button:hover {
  background-color: #20924c;
}
.solution{
  background-color: var(--bg-color);
}
.solution_container {
  max-width: 80%;
  margin: 0% auto;
  text-align: center;
  padding: 100px 0;
}
.solution_content p {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  margin-bottom: 0;
}
.solution_content h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: var(  --text-seconde-color);
  margin-bottom: 50px;
}
.solution_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.solution_item {
  background-color: var(--item-color-sv);
  border-radius: 8px;
}
.solution_icon {
  display: flex;
  padding: 50px 35px;
}
.solution_icon i {
  font-size: 35px;
  color: #00a63f;
  padding-right: 20px;
}
.soluton_title {
  text-align: left;
}
.soluton_title a {
  display: block;
  color: var(  --text-seconde-color);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 22px;
  letter-spacing: 0;
  transition: all 0.5s;
}
.soluton_title a:hover {
  color: #00a63f;
}
.soluton_title p {
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
  opacity: 0.8;
}
.form_container {
  max-width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  color: #fff;
  display: flex;
}
.form {
  background-image: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.form::before {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--bg-carousel-color);
}
.form_content,
.form_row {
  width: 50%;
  z-index: 1;
}
.form_row {
  background-color: #fff;
  border-radius: 8px;
}
.form_content p {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
}
.form_content h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 25px;
}
.form_title {
  display: flex;
  align-items: center;
  padding: 35px 0;
  margin-right: 50px;
}
.form_title.active {
  border-top: #aaa solid 1px;
}
.form_title i {
  font-size: 35px;
  margin-right: 25px;
}

.form_title_inf h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.form_title_inf a {
  color: #eee;
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.8;
}
.form_row_titel{
  background-color: var(--bg-color);
}
.form_row .form_row_titel {
  padding: 50px;
}
.form_row .form_row_titel h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: var(  --text-seconde-color);
}
.form_row .form_row_titel p {
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
  opacity: 0.8;
  margin-bottom: 25px;
}
.form_row .form_row_titel input {
  margin-top: 25px;
  width: 100%;
  background-color: var(--input-color);
  color: var(--font-color);
  font-size: 17px;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
}
.form_row .form_row_titel textarea {
  margin-top: 25px;
  width: 100%;
  background-color: #f7f7f7;
  background-color: var(--input-color);
  font-size: 17px;
  border: none;
}
.form_row button {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  background-color: #00a63f;
  margin-top: 20px;
  border-radius: 8px;
  border: transparent;
  color: white;
  transition: all 0.5s;
}
.form_row button:hover {
  background-color: #20924c;
}
.service {
  margin: 0;
  padding: 0;
  background-color: var(--bg-gray);
  border-bottom: 1px solid rgb(153, 153, 153, 0.2);
}
.service_container {
  max-width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}
.service .service_content {
  display: unset;
  text-align: center;
}
.service .service_content h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: var(  --text-seconde-color);
}
.service .service_content p {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
}
.service_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: center;
  margin-top: 50px;
}
.service_item {
  padding: 40px 30px;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  transition: all 0.5s;
}
.service_item:hover {
  transform: translateY(-8px);
  box-shadow: rgb(1 1 1 / 17%) 1px 1px 5px 0px;
}
.service_item h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  transition: all 0.5s;
  color: var(  --text-seconde-color);
}
.service_item h3:hover {
  color: #00a63f;
}
.service_item p {
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
  opacity: 0.8;
  margin-top: 25px;
}
@media screen and (max-width:981px) {
  .design_row {
    grid-template-columns: repeat(1,1fr);
  }
  .solution_row {
    grid-template-columns: repeat(2,1fr);
  }
  .desgin_item.icon {
    padding-bottom: 25px;
  }
  .form_container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .form_content, .form_row {
    width: 100%;
  }
  .service_row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width:771px) {
  .carousel,.carousel-item img {
    height: 386px;
  }
  .solution_row {
    grid-template-columns: repeat(1,1fr);
  }
  .service_row {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}